#carrito {
    background-color: #77E4D4;
    padding: 20px;
    border: 2px solid #998CEB;
    border-radius: 5px;
    margin: 20px;
}

#carrito.hidden {
    display: none;
}

#cart-button {
    font-weight: lighter;
    color: #000000;
}